@import "tailwindcss";

@keyframes float-soft {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float-soft {
  animation: float-soft 6s ease-in-out infinite;
}
